<div class="ui grid stackable">

  <div class="four wide column">
  </div>

  <div class="eight wide column">
    <h1>Welcome</h1>

    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email %><br><br>
      <%= f.password_field :password %><br>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %><br><br>
      <%= f.submit 'Sign in' %><br><br>
      <%= link_to "Forgot your password?", new_password_path(:user) %>
    <% end %>
  </div>

  <div class="four wide column">
  </div>
</div>