<div class="max-width has-padding">
  <div class="ui grid stackable">
    <div class="ten wide column">
      <h1 class="ui header" style="font-size:4rem">Kano</h1>
      <p class="medium-text">Create Kano surveys in minutes:</p>
      <ol class="medium-text">
        <li>Create a survey</li>
        <li>Send the url to your customers</li>
        <li>Figure out which features are likely to make your customers happy</li>
      </ol>
    </div>
    <div class="six wide column">
      <% if user_signed_in? %>

        <%= link_to 'Go to my tests', tests_path, :class => 'ui button' %>

        <% else %>
        <div class="ui form segment">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.text_field :email %><br><br>
            <%= f.password_field :password %><br><br>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, :class => 'small-text' %><br><br>
            <%= f.submit 'Sign in', :class => 'ui button' %><br><br>
            <%= link_to "Forgot password?", new_password_path(:user), :class => 'small-text' %>
          <% end %>
        </div>
        <% end %>


    </div>
  </div>
</div>