<div class="max-width has-padding">
  <div class="ui grid stackable">
    <div class="four wide column">
    </div>
    <div class="eight wide column">
      <h2>Sign in</h2>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="ui form">
          <div><%= f.email_field :email, :placeholder => 'email', :autofocus => true %></div><br>
          <div><%= f.password_field :password %></div><br>
          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div><br>
          <% end -%>
          <div><%= f.submit "Sign in", :class => 'ui button' %></div><br>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
