<%= form_for(@answer) do |f| %>

<div class="ui form">

  <p><%= @test.question_one %></p>

  <div class="ui form">
      <div class="grouped inline fields">
        <div class="field">
          <div class="ui radio checkbox">
             <%= f.radio_button("answer_one", "I like it that way.") %>
              <%= f.label "I like it that way." %><br>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_one", "I expect it to be that way.") %>
            <%= f.label "I expect it to be that way." %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_one", "I am neutral.") %>
            <%= f.label "I am neutral." %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_one", "I can live with it that way.") %>
            <%= f.label "I can live with it that way." %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_one", "I dislike it that way.") %>
            <%= f.label "I dislike it that way." %>
          </div>
        </div>
      </div>
    </div>

  <div class="ui divider" style="display: block;"></div>

  <p><%= @test.question_two %></p>

  <div class="ui form">
      <div class="grouped inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_two", "I like it that way.") %>
            <%= f.label "I like it that way." %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_two", "I expect it to be that way.") %>
            <%= f.label "I expect it to be that way." %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_two", "I am neutral.") %>
            <%= f.label "I am neutral." %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_two", "I can live with it that way.") %>
            <%= f.label "I can live with it that way." %>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= f.radio_button("answer_two", "I dislike it that way.") %>
            <%= f.label "I dislike it that way." %>
          </div>
        </div>
      </div>
    </div>


  <div class="ui divider" style="display: block;"></div>

  <%= f.label "Name (optional)" %><br>
  <%= f.text_field("name") %>

  <%= hidden_field_tag(:test_id, @test.id) %>

  <br><br>
  <%= f.submit 'Submit my answer', :class => 'ui button teal' %>
</div>
<% end %>

<script>
  $('.ui.radio.checkbox')
    .checkbox()
  ;
</script>