
  <div class="max-width has-padding">

    <%= link_to 'Create a Test', new_test_path, :class => 'ui button', :style => 'float:right' %>
    <h1 class="ui " style="">My Tests</h1>
    <table class="ui table">
        <tr>
          <th>Name</th>
          <th>Report</th>
          <th>Created</th>
          <th># of Responses</th>
        </tr>
        <tr>
      <% if current_user %>
        <% current_user.tests.each do |test| %>
          <td><%= link_to test.title, test_path(test) %></td>
          <td><%= link_to 'report', report_test_path(test) %></td>
          <td><%= test.created_at.strftime("%b %d, %l:%M ") %></td>
          <td><%= test.answers.count %></td>
        </tr>
        <% end %>
      <% end %>
    </table>

  </div>





