<div class="max-width has-padding">
<div class="ui grid stackable">

  <div class="ten wide column">
    <!-- <h1>Create a test</h1> -->
    <%= form_for (@test) do |f| %>
      <div class="ui form">
        <div class="stackable ui grid">
          <div class="sixteen wide column">
            <%= f.text_field :title, :placeholder => "Add a title",
            :"data-content" => "<strong>Tip</strong>: Users will see this title", :"data-position" => "right center" %>
          </div>
          <div class="sixteen wide column">
            <%= f.text_area :description, :placeholder => "Describe your feature",
            :"data-content" => "<strong>Tip</strong>: help the user understand what the feature would do", :"data-position" => "right center" %>
          </div>
          <div class="sixteen wide column functional">
            <%= f.text_area :question_one, :placeholder => "Ask your functional question",
            :"data-content" => "e.g. How would you feel if [your product] <strong>did include</strong> [your feature idea]", :"data-position" => "right center" %>
          </div>
          <div class="sixteen wide column dysfunctional">
            <%= f.text_area :question_two, :placeholder => "Ask your dysfunctional question",
            :"data-content" => "e.g. How would you feel if [your product] <strong>did not include</strong> [your feature idea]", :"data-position" => "right center" %>
          </div>
        </div>
      </div>
      <%= f.submit 'Create my test', :class => 'ui button' %>
    <% end %>
  </div>
  <div class="four wide column">
  </div>

</div>

<script>
$('textarea, input')
  .popup({
    on: 'focus'
  })
;
$('.dysfunctional textarea')
  .popup({
    on: 'focus'
  })
;
</script>